/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* Navbar principal */
.navbar {
  background: #0080ff;
}

.menu {
  list-style: none;
  display: flex;
}

.menu li {
  position: relative;
}

.menu > li {
  flex: none;
}

.menu a {
  display: block;
  padding: 15px 20px;
  color: #ecf0f1;
  text-decoration: none;
}

.menu a:hover {
  background: #1b62a8;
}

/* Submenús */
.submenu {
  display: none;
  position: absolute;
  background: #1b62a8;
  list-style: none;
  min-width: 180px;
  top: 100%;
  left: 0;
  border-radius: 0 0 5px 5px;
}

.submenu li a {
  padding: 12px 16px;
}

.submenu li a:hover {
  background: #1abc9c;
}

/* Mostrar submenú al hacer hover */
.dropdown:hover > .submenu {
  display: block;
}

/* Flechas más claras en submenú */
.dropdown > a::after {
  content: "";
}
